html{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
} 
li{
    font-size: 0.98rem;
    letter-spacing: 1px;
    line-height: 32px;
}
.header {
    height: 40vh;
    background: url("images/hollowed-boxes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    text-align: center;
    color: #f2f2f2;
}
.topnav {
    overflow: hidden;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topnav a {
    float: left;
    display: block;
    color: #1d1d1d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: green;
    color: #f1f1f1;
}
/* .topnav a.active {
    background-color: #04AA6D;
    color: white;
} */
.topnav .icon {
    display: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/* section profile */
section{
    max-width: 80%;
    margin: 50px auto;
}
.profile{
    display: flex; 
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}
.profile-img{
    width: 400px;
    height: 400px;
}
.profile-img img{
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0,0,0,.6);
}
.profile-content{
    width: 100%;    
}
.profile-content p{
    font-size: 1.2rem;
    line-height: 32px;
}
@media screen and (max-width: 600px){
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        padding: 10px;
    }
    .profile-img{
        width: 300px;
    }
    .profile-content p{
        width: 90%;
        margin-left: 50px;
    }
}
/* section skills */
.skills{
    background: url("images/abstract-envelope.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.skills-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 22px;
}
.skills-1, .skills-2, .skills-3{
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms all ease-in;
}
.box:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,.6);
    filter: brightness(0.8);
}
.skills-1, .skills-2, .skills-3 span{
    font-size: 1.3rem;
    color: rgba(0,0,0,.5);
}
.technical-sckill, .second-box{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* transform: translate(50%, 50%); */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity  */
    padding-top: 60px;
}
.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    overflow: auto;
    border: 4px solid rgba(0,0,0,0.3);
    position: relative;
    overflow: auto;
}
.close{
    position: absolute;
    top: 5px;
    right: 12px;
    padding: 10px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 200ms all ease-in;
}
#container-1 ul, li{
    font-size: 0.78rem;
    line-height: 23px;
}
.close:hover{
    color: #1d1d1d;
}
/* section bg skills */
.bg-skills{
    /* width: 100%; */
    background: url("images/skills-img/pattern.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px ;
}
.bg-skills h3{
    text-align: center;
}
.box-skills-el{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    overflow-y: auto;
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
.box-sk img{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255, .1);
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0,0,0,0.2);

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
  
    to {
        margin-left: -100%;
        right: 100%;
    }
}

/* section experience */
.experience{
}
.experience h3{
    text-align: center;
}
.experience1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.exp-1{
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.exp-2{
    background-color: rgba(255,255,255,.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
/* section contact */
.contact{
    background: url("images/diagonal-stripes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 10px;
    position: relative;
    height: 200px;
}
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* Set a style for all buttons */
button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-left: -50px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
/* animation button */

  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.contant-contact{
    padding: 20px;
    background-color:rgba(0,0,0,0.1);
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 2px rgba(0,0,0,.2);
    overflow: scroll;
}
.cont-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/* footer */
footer, p{
    text-align: center;
    font-size: 0.76rem;
}